$block: "comp";

.#{$block} {
  &__grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;

    .#{$block} {
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100%);
        margin-right: 2rem;
        margin-left: 2rem;
        margin-bottom: 2rem;

        .#{$block} {
          &__img-wrapper {
            width: calc(100% / 2.5);
            img {
              width: 100%;
              height: 100%;
            }

            &--balance {
              width: calc(100% / 3.5);
            }
          }

          &__details-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .#{$block} {
              &__title {
                font-size: rem-calc(20px);
              }
              &__copy {
                width: rem-calc(320px);
                font-size: rem-calc(18px);
                margin-top: $space3;
                line-height: rem-calc(26px);
                text-align: center;

                &--balance {
                  width: rem-calc(350px);
                }
                &--outbox {
                  width: rem-calc(320px);
                }
              }

              &__read-more {
                margin-bottom: $space5;
                a {
                  margin: 0;
                  font-size: rem-calc(20px);
                }
              }
            }
          }
        }
      }
    }
  }
}
